<header id="header">
  <h1 id="logo"><a href="{{ 'https://infinitydevlab.com/' | relative_url }}">Juan Pablo Paz Quiroga</a></h1>
  <nav id="nav">
    <ul>
      <li><a href="{{ '/' | relative_url }}">Inicio</a></li>
      <li>
        <a href="#">Acerca de</a>
        <ul>
          <li><a href="{{ '/#sobre-mi' | relative_url }}">Sobre mí</a></li>
          <li><a href="{{ '/#experiencia' | relative_url }}">Experiencia</a></li>
          <li><a href="{{ '/#habilidades' | relative_url }}">Habilidades</a></li>
          <li><a href="{{ '/#servicios' | relative_url }}">Servicios</a></li>
        </ul>
      </li>
      <li><a href="https://jppq2026.infinitydevlab.com/">Proyectos</a></li>
      <li><a href="{{ '/#contacto' | relative_url }}" class="button primary">Contacto</a></li>
    </ul>
  </nav>
</header>