<header id="header">
    <h1 id="logo"><a href="index.html" target="_blank">Juan Pablo Paz Quiroga</a></h1>
    <nav id="nav">
      <ul>
        <li><a href="{{ '/' | relative_url }}">Inicio</a></li>
        <li>
          <a href="#">Sobre mí</a>
          <ul>
            <li><a href="#one">Experiencia</a></li>
            <li><a href="#two">Habilidades</a></li>
            <li><a href="#three">Proyectos</a></li>
            <li><a href="#four">Servicios</a></li>
          </ul>
        </li>
        <li><a href="#four">Servicios</a></li>
        <li><a href="#five" class="button primary">Contacto</a></li>
      </ul>
    </nav>
  </header>
  